<h2>Educación</h2>
<div class="apartado">
    <div class="grid__container--educacion">
        <img class="grid__item--educacion" id="logoUTN" src="assets/Imagenes/LogoUTN.jpg" alt="UTN">
        <p class="grid__item--educacion"> Cursado primer y segundo año de ingenieria en sistemas de información en la Universidad Tecnologica Nacional de Rosario.</p>
        <img  class="grid__item--educacion logoAP" class="logoAP" src="assets/Imagenes/ArgentinaProgramaLogo.png" alt="Argentina Programa">
        <p class="grid__item--educacion"> Curso Argentina programa finalizado.</p>
    </div>
    <div class="iconConteiner">
        <i class="fa-solid fa-pen icon"></i>
        <i class="fa-solid fa-xmark icon"></i>
    </div>
</div>