<h2>Hard and Soft Skills</h2>
<div class="apartado">
  <ul class="grid__container--skills">
          <li class="grid__item--skills hard"><b>C</b> </li>
          <li class="grid__item--skills hard"><b>Pascal</b> </li>
          <li class="grid__item--skills hard"><b>HTML</b> </li>
          <li class="grid__item--skills hard"><b>CSS</b> </li>
          <li class="grid__item--skills hard"><b>Java Script</b> </li>
          <li class="grid__item--skills hard"><b>Angular</b> </li>
          <li class="grid__item--skills soft"><b>Respetuoso</b> </li>
          <li class="grid__item--skills soft"><b>Amable</b> </li>
          <li class="grid__item--skills soft"><b>Honesto</b> </li>
          <li class="grid__item--skills lang"><b>Ingles</b> </li>
  </ul>
  <div class="iconConteiner">
      <i class="fa-solid fa-pen icon"></i>
      <i class="fa-solid fa-xmark icon"></i>
  </div>
</div>