<h2>Hard and Soft Skills</h2>
<div> <button class="newButton" type="button" routerLink="/nuevaSkill" *ngIf="isLogged">Nueva
    Skill</button>
</div>
<div class="apartado">
  <div *ngFor="let skill of skill">
    <circle-progress [percent]="(skill.porcentaje)" [title]="(skill.nombre)" [outerStrokeColor]="'rgb(15, 60, 93)'"
      [animation]="true">
    </circle-progress>
    <div class="iconConteiner">
      <td *ngIf="isLogged"><button type="button" class="modifyButton"><i class="fa-solid fa-pen icon"
            routerLink="/editSkill/{{skill.id}}"></i></button></td>
      <td *ngIf="isLogged"><button type="button" class="modifyButton"><i class="fa-solid fa-xmark icon"
            (click)="delete(skill.id)"></i></button></td>
    </div>
  </div>
</div>