* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}


body {
  min-width: 100%;
  min-height: 100%;
}

header {
  display: flex;
  background-color: rgb(36, 62, 109);
  color: rgb(255, 255, 255);
  height: 4em;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
  margin-top: -27px;
}


.navbar__menu--option {
  padding: 0% 10px;
  margin-top: 40px;
  list-style: none;
}



.login--button {
  background-color: rgb(255, 255, 255);
  font-size: 27px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100px;
}

.ArgentinaPrograma {
  width: 80%;
  height: 100px;
}

.logoAP {
  margin: -30px;
  margin-left: -10px;
  width: 12em;
}


.yoprogramo {
  margin-left: 25px;
  font-size: 23px;
  display: inline;
}


p {
  font-size: 24px;
  margin: 10px;
}

img {
  width: 3em;
  border-style: none;
  max-width: 100%;
}

h2 {
  background-color: rgb(36, 62, 109);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 9px 7px;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 13px;
}


.banner {
  background-image: url(https://img.freepik.com/vector-premium/fondo-banner-seguridad-informatica-horizontal-estilo-plano_96318-5752.jpg?w=1800);
  background-repeat: no-repeat;
  border-radius: 0 0 120px 0;
  background-size: cover;
}

#fotoperfil {
  border-radius: 50%;
  min-width: 12em;
  position: relative;
  top: 90px;
}

.sobremi {
  margin-bottom: 25px;
  margin-left: 11em;
  padding: 12px;
}

.sobremi--datos {
  margin: 4px;
  font-size: 30px;
}

.apartado {
  width: 97%;
  margin-left: 20px;
  padding: 20px;
  background-color: rgb(172, 172, 172);
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



#logoUTN {
  margin-left: 65px;
  border-radius: 50%;
}


.hard:hover {
  background-color: rgb(15, 60, 93);
  color: white;
  transition: 0.5s;
}

.soft:hover {
  background-color: rgb(27, 110, 170);
  color: white;
  transition: 0.55s;
}

.lang {
  grid-column: span 5;
}

.lang:hover {
  background-color: rgba(34, 141, 218, 0.674);
  color: white;
  transition: 0.55s;
}

.iconContainer {
  display: flex;
}

.icon {
  font-size: 20px;
  color: white;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  background-color: rgb(52, 49, 49);
  border-radius: 50%;
  flex-wrap: wrap-reverse;
}

.icon:hover {
  background-color: rgba(34, 141, 218, 0.674);
  transition: 0.55s;
}


footer {
  padding: 15px;
}

.modifyButton {
  border-radius: 50%;
  border: none;
}

.newButton--container{
  margin: 10px;
}

.newButton {
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  width: 7em;
  border-radius: 7px;
  cursor: pointer;
  transition: all .5s ease;
}

.titulo{
  width: 30%;
}

.informacion{
  width: 60%;
}

.tabla{
  width: 100%;
  display: flex;
}



.te-erre{ 
  width:100%;
  display: flex;
  justify-content: space-between;
}
