<h2>Proyectos</h2>
<div class="apartado">
  <div class="proye">
  <h3>Desarrollo de portfolio web</h3>
  <p>Realizado: 31/10/2022</p>
  <p>Desarrolle una aplicación web, la cual es un portfolio de mi curriculum vitae para realizar una busqueda laboral al
    finalizar el curso argentina programa.</p>
  </div>
  <div class="iconContainer">
    <button type="button" class="modifyButton"><i class="fa-solid fa-pen icon"></i></button>
    <button type="button" class="modifyButton"><i class="fa-solid fa-xmark icon"></i></button>
  </div>
</div>