* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body{
  min-width: 100%;
  min-height: 100%;    
}

header{
  background-color: rgb(94, 0, 123);
  color: rgb(255, 255, 255);
  height: 4em;
  width: 100%;
}

p{
  font-size: 24px;
  margin: 10px;
}

img{
  width: 3em;
  border-style: none;
  max-width: 100%;
}

h2{
  background-color: rgb(36, 62, 109);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 9px 7px;
  border-radius: 15px;
  margin: 15px;
}


.navbar{
  display: flex;
  justify-content: space-around;

}

.navbar a{
  margin-top: -27px;
}

.navbar__menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -27px;
}


.navbar__menu--option{
  padding: 0% 10px;
  margin-top: 5px;
  list-style: none;
}


#login{
  color: rgb(255, 255, 255);
  background-color: rgb(94, 29, 150);
  border-radius: 20%;
  font-size: 30px;
  margin-top: 10px;
}

.logoAP{
  margin-top: -30px;
  width: 12em;
}


#yoprogramo{
  margin-top: 15px;
  margin-right: 65%;
  font-size: 30px;
}



.banner{
  background-image: url(https://img.freepik.com/vector-premium/fondo-banner-seguridad-informatica-horizontal-estilo-plano_96318-5752.jpg?w=1800); 
  background-repeat: no-repeat;
  border-radius: 0 0 120px 0;
  background-size: cover;
}

#fotoperfil{
  border-radius: 50%;
  min-width: 12em;
  position: relative;
  top: 90px;
}

.sobremi {
  margin-bottom: 25px;
  margin-left: 11em;
  padding: 12px;
}

.sobremi--datos{
  margin: 4px;
  font-size: 30px;
}

.sobremi--datos span{
  color: rgb(27, 110, 170);
}

.apartado{
  margin-left: 25px;
  padding: 20px;
  background-color: rgb(172, 172, 172);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}


.grid__container--educacion{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-top: 2em;
}


#logoUTN{
  margin-left: 65px;
  border-radius: 50%;
}


.grid__container--skills{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  list-style: none;
  font-size: 18px;
  gap: 20px;
}

.grid__item--skills{
  border-radius: 50%;
  border: 3px solid white;
  height: 100px;
  width: 100px;
  text-align: center;
  padding-top: 39px;
  background-color: rgb(235, 235, 235);
}

.hard:hover{
  background-color: rgb(15, 60, 93);
  color: white;
  transition: 0.5s;
}

.soft:hover{
  background-color: rgb(27, 110, 170);
  color: white;
  transition: 0.55s;
}

.lang{
  grid-column: span 5;
}

.lang:hover{
  background-color: rgba(34, 141, 218, 0.674);
  color: white;
  transition: 0.55s;
}

.iconContainer{
  display: flex;
}

.icon{
  font-size: 20px;
  color: white;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  background-color: rgb(52, 49, 49);
  border-radius: 50%;
  flex-wrap: wrap-reverse;
}

.icon:hover{
  background-color: rgba(34, 141, 218, 0.674);
  transition: 0.55s;
}