<div class="headerconteiner">
    <header>
        <nav class="navbar">
                <img class="logoAP" src="assets/Imagenes/ArgentinaProgramaLogo.png" alt="Argentina Programa Logo">
                <p id="yoprogramo">#YoProgramo</p>
                <ul class="navbar__menu">
                <li class="navbar__menu--option"><a href="https://facebook.com/JCT21/"><img src="assets/Imagenes/FacebookLogo.webp" alt="Facebook Logo"></a></li>
                <li class="navbar__menu--option"><a href="https://instagram.com/juancruztilatti/"><img src="assets/Imagenes/LogoInstagram.webp" alt="InstagramL ogo"></a></li>
                <li class="navbar__menu--option"><a href="https://twitter.com/tilajc"><img src="assets/Imagenes/LogoTwitter.png" alt="Twitter Logo"></a></li>
                <li class="navbar__menu--option"><button type="button" class="login--button" (click)="login()" *ngIf="!isLogged">Login</button></li>
                <li class="navbar__menu--option"><button type="button" class="login--button" (click)="onLogOut()" *ngIf="isLogged">Log Out</button></li>
            </ul>
        </nav>
    </header>
  </div>
  <div class="banner">
    <img id="fotoperfil" src="assets/Imagenes/FotoCV.jpg" alt="FotoPerfil">
  </div>